In [1]:
import pandas as pd

In [2]:
user = pd.read_csv('/home/tione/notebook/data/train_preliminary/user.csv')

In [3]:
user

        user_id  age  gender
0             1    4       1
1             2   10       1
2             3    7       2
3             4    5       1
4             5    4       1
...         ...  ...     ...
899995   899996    5       1
899996   899997    3       2
899997   899998    4       2
899998   899999    3       1
899999   900000    3       2

[900000 rows x 3 columns]

In [13]:
ad = pd.read_csv('/home/tione/notebook/data/train_preliminary/ad.csv')

In [14]:
click = pd.read_csv('/home/tione/notebook/data/train_preliminary/click_log.csv')

In [15]:
print (click.shape,ad.shape,user.shape)

(30082771, 4) (2481135, 6) (900000, 3)

In [16]:
user_click = click.join(user.set_index('user_id'), on='user_id')

In [17]:
user_click_ad = user_click.join(ad.set_index('creative_id'), on='creative_id')

In [18]:
user_click_ad

,time,user_id,creative_id,click_times,age,gender,ad_id,product_id,product_category,advertiser_id,industry
0,9,30920,567330,1,2,1,504423,30673,3,32638,319
1,65,30920,3072255,1,2,1,2642300,1261,2,6783,6
2,56,30920,2361327,1,2,1,2035918,1261,2,6783,6
3,6,309204,325532,1,6,1,292523,27081,3,32066,242
4,59,309204,2746730,1,6,1,2362208,\N,18,14682,88
...,...,...,...,...,...,...,...,...,...,...,...
30082766,6,30920,228129,1,2,1,204785,\N,18,14681,297
30082767,57,30920,2361397,1,2,1,2035987,1261,2,6783,6
30082768,26,30920,629802,1,2,1,559183,\N,18,14678,26
30082769,86,30920,2713031,1,2,1,2333817,\N,18,32019,25
30082770,25,30920,629802,1,2,1,559183,\N,18,14678,26

In [19]:
group_user_click_ad = user_click_ad.groupby('user_id').agg(lambda x: '%'.join(x.values.astype(str)))

In [20]:
group_user_click_ad

,time,creative_id,click_times,age,gender,ad_id,product_id,product_category,advertiser_id,industry
user_id,,,,,,,,,,
1,43%20%20%20%64%39%46%60%52%73%76%64%40,71691%821396%209778%877468%3068256%1683713%194...,1%1%1%1%1%1%1%1%1%1%2%1%1,4%4%4%4%4%4%4%4%4%4%4%4%4,1%1%1%1%1%1%1%1%1%1%1%1%1,66210%724607%188507%773445%2638858%1458878%167...,\N%\N%136%\N%1454%\N%\N%\N%\N%64%1261%64%1334,18%5%2%5%2%5%5%18%5%2%2%2%2,14681%7293%9702%29455%23575%14668%17189%44865%...,326%326%6%106%238%326%73%64%217%245%6%245%\N
2,89%77%87%11%10%38%90%55%49%60%38%73%49%28%48%1...,4194247%3765766%22013%155822%63441%1657530%625...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%...,10%10%10%10%10%10%10%10%10%10%10%10%10%10%10%1...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,3598073%3238255%22877%139702%58788%1436687%555...,\N%1849%1323%80%87%1261%11119%\N%\N%129%\N%263...,18%2%2%2%2%2%8%18%18%2%18%2%2%2%2%2%18%2%2%2%1...,25704%57597%818%10686%22885%918%20193%29097%26...,207%317%319%238%318%6%328%36%47%6%47%250%6%317...
3,88%74%14%69%14%47%86%70%86%78%77%44%19%50%50%5...,2556703%3255755%710859%3386299%825434%2198902%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%...,2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%...,2201596%2800842%629278%2914064%728308%1898111%...,23%2887%1674%23%35985%2258%38250%\N%37243%\N%1...,2%2%2%2%17%2%17%18%17%18%2%12%18%18%18%8%17%4%...,28648%52263%18492%55248%14186%48608%15120%1689...,319%247%322%319%\N%322%\N%205%\N%54%322%302%54...
4,48%63%41%84%48%84%15%58%49%69%84%62%44%59%61%6...,1962706%2741116%574787%2965543%2264105%3321332...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,1698206%2357172%511235%2549734%1953681%2857491...,41265%1261%2625%\N%37758%43761%\N%2065%\N%1261...,17%2%2%7%4%17%18%2%18%2%17%2%17%2%2%2%18%2%17%...,23664%6783%13084%21701%811%55259%7976%32762%14...,\N%6%248%\N%\N%\N%25%238%88%6%\N%6%\N%319%238%...
5,56%53%27%79%56%15%30%24%87%48%63%56%79%3%76%75...,2386115%2326983%75011%3804062%1384893%43235%14...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,2057065%2006837%69138%3269815%1209022%41148%12...,\N%136%\N%\N%\N%136%2620%\N%\N%2510%136%\N%103...,5%2%18%18%18%2%2%5%18%2%2%18%2%5%18%18%8%18%18...,19658%10315%22918%13558%15900%9706%46940%17745...,109%6%319%6%28%6%322%288%319%242%6%296%319%297...
...,...,...,...,...,...,...,...,...,...,...
899996,11%69%21%70%30%8%63%53%64%75%31%31%70%40,654526%2611415%939409%2611415%1477926%92193%30...,1%1%1%1%1%1%1%1%1%1%1%1%1%1,5%5%5%5%5%5%5%5%5%5%5%5%5%5,1%1%1%1%1%1%1%1%1%1%1%1%1%1,581202%2247799%827341%2247799%1286930%84196%26...,\N%2625%\N%2625%\N%\N%\N%129%1567%\N%\N%\N%179...,18%2%18%2%18%18%5%2%2%18%18%18%2%18,13019%6433%9934%6433%9934%18103%20817%35127%16...,40%248%54%248%54%54%202%6%6%54%54%40%248%40
899997,16%66%22%77%68%69%77%87%75%65%67%4%2%87%87%67%...,7400%3011222%60330%1143180%177415%127573%33570...,2%2%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3,2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2,8817%2589756%55948%1001997%159111%114832%28886...,1400%\N%26858%87%1250%91%95%95%70%\N%87%1377%2...,2%5%3%2%2%2%2%2%2%18%2%2%3%2%2%18%2%2,768%21185%28874%22885%24274%13295%43954%15685%...,317%289%60%318%321%161%6%6%319%6%318%5%60%317%...
899998,25%72%75%78%40%78%40%91%73%63%62%50%78%73,648402%71752%3537052%3527177%1251649%3750929%1...,2%1%1%1%1%1%1%1%1%1%1%1%1%1,4%4%4%4%4%4%4%4%4%4%4%4%4%4,2%2%2%2%2%2%2%2%2%2%2%2%2%2,575608%66267%3046316%3037926%1094938%3226089%1...,\N%\N%\N%\N%35420%\N%39519%643%\N%\N%\N%43559%...,12%12%18%18%17%18%17%3%18%18%18%17%18%18,18103%10989%9058%14681%43805%14681%32974%10988...,54%333%6%6%\N%6%\N%6%293%6%6%\N%6%6
899999,31%28%29%53%54%9%58%32%83%83%75%58%21%29%31%60...,456738%1287932%1513243%2479870%2288411%122834%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,406152%1126353%1315691%2136034%1974163%110687%...,\N%\N%\N%101%\N%35593%\N%\N%\N%\N%\N%140%\N%14...,18%5%5%2%5%17%8%18%5%16%18%2%18%2%18%2%5%2%18%...,17627%15855%14930%894%53037%8126%631%14681%101...,54%232%108%183%291%\N%292%6%329%\N%54%317%6%31...
900000,71%72%91%74%42%52%26%57%2%34%10%7,3391205%3471208%4387250%3527098%1807163%229018...,1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3,2%2%2%2%2%2%2%2%2%2%2%2,2918341%2989104%3761723%3037879%1564764%197570...,\N%31999%\N%\N%\N%\N%\N%\N%\N%\N%\N%\N,5%5%18%18%18%5%5%5%5%18%18%5,22137%7283%60572%14681%14681%53037%15855%14372...,73%289%25%203%289%291%232%148%147%88%183%147

In [21]:
group_user_click_ad.to_csv('group_user_click_ad.csv')

In [22]:
group_user_click_ad

,time,creative_id,click_times,age,gender,ad_id,product_id,product_category,advertiser_id,industry
user_id,,,,,,,,,,
1,43%20%20%20%64%39%46%60%52%73%76%64%40,71691%821396%209778%877468%3068256%1683713%194...,1%1%1%1%1%1%1%1%1%1%2%1%1,4%4%4%4%4%4%4%4%4%4%4%4%4,1%1%1%1%1%1%1%1%1%1%1%1%1,66210%724607%188507%773445%2638858%1458878%167...,\N%\N%136%\N%1454%\N%\N%\N%\N%64%1261%64%1334,18%5%2%5%2%5%5%18%5%2%2%2%2,14681%7293%9702%29455%23575%14668%17189%44865%...,326%326%6%106%238%326%73%64%217%245%6%245%\N
2,89%77%87%11%10%38%90%55%49%60%38%73%49%28%48%1...,4194247%3765766%22013%155822%63441%1657530%625...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%...,10%10%10%10%10%10%10%10%10%10%10%10%10%10%10%1...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,3598073%3238255%22877%139702%58788%1436687%555...,\N%1849%1323%80%87%1261%11119%\N%\N%129%\N%263...,18%2%2%2%2%2%8%18%18%2%18%2%2%2%2%2%18%2%2%2%1...,25704%57597%818%10686%22885%918%20193%29097%26...,207%317%319%238%318%6%328%36%47%6%47%250%6%317...
3,88%74%14%69%14%47%86%70%86%78%77%44%19%50%50%5...,2556703%3255755%710859%3386299%825434%2198902%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%...,2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%...,2201596%2800842%629278%2914064%728308%1898111%...,23%2887%1674%23%35985%2258%38250%\N%37243%\N%1...,2%2%2%2%17%2%17%18%17%18%2%12%18%18%18%8%17%4%...,28648%52263%18492%55248%14186%48608%15120%1689...,319%247%322%319%\N%322%\N%205%\N%54%322%302%54...
4,48%63%41%84%48%84%15%58%49%69%84%62%44%59%61%6...,1962706%2741116%574787%2965543%2264105%3321332...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,1698206%2357172%511235%2549734%1953681%2857491...,41265%1261%2625%\N%37758%43761%\N%2065%\N%1261...,17%2%2%7%4%17%18%2%18%2%17%2%17%2%2%2%18%2%17%...,23664%6783%13084%21701%811%55259%7976%32762%14...,\N%6%248%\N%\N%\N%25%238%88%6%\N%6%\N%319%238%...
5,56%53%27%79%56%15%30%24%87%48%63%56%79%3%76%75...,2386115%2326983%75011%3804062%1384893%43235%14...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,2057065%2006837%69138%3269815%1209022%41148%12...,\N%136%\N%\N%\N%136%2620%\N%\N%2510%136%\N%103...,5%2%18%18%18%2%2%5%18%2%2%18%2%5%18%18%8%18%18...,19658%10315%22918%13558%15900%9706%46940%17745...,109%6%319%6%28%6%322%288%319%242%6%296%319%297...
...,...,...,...,...,...,...,...,...,...,...
899996,11%69%21%70%30%8%63%53%64%75%31%31%70%40,654526%2611415%939409%2611415%1477926%92193%30...,1%1%1%1%1%1%1%1%1%1%1%1%1%1,5%5%5%5%5%5%5%5%5%5%5%5%5%5,1%1%1%1%1%1%1%1%1%1%1%1%1%1,581202%2247799%827341%2247799%1286930%84196%26...,\N%2625%\N%2625%\N%\N%\N%129%1567%\N%\N%\N%179...,18%2%18%2%18%18%5%2%2%18%18%18%2%18,13019%6433%9934%6433%9934%18103%20817%35127%16...,40%248%54%248%54%54%202%6%6%54%54%40%248%40
899997,16%66%22%77%68%69%77%87%75%65%67%4%2%87%87%67%...,7400%3011222%60330%1143180%177415%127573%33570...,2%2%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3,2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2,8817%2589756%55948%1001997%159111%114832%28886...,1400%\N%26858%87%1250%91%95%95%70%\N%87%1377%2...,2%5%3%2%2%2%2%2%2%18%2%2%3%2%2%18%2%2,768%21185%28874%22885%24274%13295%43954%15685%...,317%289%60%318%321%161%6%6%319%6%318%5%60%317%...
899998,25%72%75%78%40%78%40%91%73%63%62%50%78%73,648402%71752%3537052%3527177%1251649%3750929%1...,2%1%1%1%1%1%1%1%1%1%1%1%1%1,4%4%4%4%4%4%4%4%4%4%4%4%4%4,2%2%2%2%2%2%2%2%2%2%2%2%2%2,575608%66267%3046316%3037926%1094938%3226089%1...,\N%\N%\N%\N%35420%\N%39519%643%\N%\N%\N%43559%...,12%12%18%18%17%18%17%3%18%18%18%17%18%18,18103%10989%9058%14681%43805%14681%32974%10988...,54%333%6%6%\N%6%\N%6%293%6%6%\N%6%6
899999,31%28%29%53%54%9%58%32%83%83%75%58%21%29%31%60...,456738%1287932%1513243%2479870%2288411%122834%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,406152%1126353%1315691%2136034%1974163%110687%...,\N%\N%\N%101%\N%35593%\N%\N%\N%\N%\N%140%\N%14...,18%5%5%2%5%17%8%18%5%16%18%2%18%2%18%2%5%2%18%...,17627%15855%14930%894%53037%8126%631%14681%101...,54%232%108%183%291%\N%292%6%329%\N%54%317%6%31...
900000,71%72%91%74%42%52%26%57%2%34%10%7,3391205%3471208%4387250%3527098%1807163%229018...,1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3,2%2%2%2%2%2%2%2%2%2%2%2,2918341%2989104%3761723%3037879%1564764%197570...,\N%31999%\N%\N%\N%\N%\N%\N%\N%\N%\N%\N,5%5%18%18%18%5%5%5%5%18%18%5,22137%7283%60572%14681%14681%53037%15855%14372...,73%289%25%203%289%291%232%148%147%88%183%147

In [24]:
def genOneHot(row,maxIndex):
    ins = row.strip().split('%')
    vectors =  [0]*maxIndex
    for i in ins:
        if  i == '\\N' :
                continue
        vectors[int(i)] = 1
    return vectors

In [25]:
group_user_click_ad['low_ids'] = group_user_click_ad['product_category']
group_user_click_ad['low_ids'] = group_user_click_ad['low_ids'].astype('object')
# 第一次先抽取部分特征来进行计算
for index, row in group_user_click_ad.iterrows():
    product_category_vector =  genOneHot(row['product_category'],100)
    industry_vector =  genOneHot(row['industry'],1000)
    time_vector =  genOneHot(row['time'],100)
    vectors = product_category_vector + industry_vector + time_vector
    #print (type(vectors),vectors)

    group_user_click_ad.at[index,'low_ids'] = vectors

In [28]:
group_user_click_ad

,time,creative_id,click_times,age,gender,ad_id,product_id,product_category,advertiser_id,industry,low_ids
user_id,,,,,,,,,,,
1,43%20%20%20%64%39%46%60%52%73%76%64%40,71691%821396%209778%877468%3068256%1683713%194...,1%1%1%1%1%1%1%1%1%1%2%1%1,4%4%4%4%4%4%4%4%4%4%4%4%4,1%1%1%1%1%1%1%1%1%1%1%1%1,66210%724607%188507%773445%2638858%1458878%167...,\N%\N%136%\N%1454%\N%\N%\N%\N%64%1261%64%1334,18%5%2%5%2%5%5%18%5%2%2%2%2,14681%7293%9702%29455%23575%14668%17189%44865%...,326%326%6%106%238%326%73%64%217%245%6%245%\N,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,89%77%87%11%10%38%90%55%49%60%38%73%49%28%48%1...,4194247%3765766%22013%155822%63441%1657530%625...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%...,10%10%10%10%10%10%10%10%10%10%10%10%10%10%10%1...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,3598073%3238255%22877%139702%58788%1436687%555...,\N%1849%1323%80%87%1261%11119%\N%\N%129%\N%263...,18%2%2%2%2%2%8%18%18%2%18%2%2%2%2%2%18%2%2%2%1...,25704%57597%818%10686%22885%918%20193%29097%26...,207%317%319%238%318%6%328%36%47%6%47%250%6%317...,"[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3,88%74%14%69%14%47%86%70%86%78%77%44%19%50%50%5...,2556703%3255755%710859%3386299%825434%2198902%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%7%...,2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%...,2201596%2800842%629278%2914064%728308%1898111%...,23%2887%1674%23%35985%2258%38250%\N%37243%\N%1...,2%2%2%2%17%2%17%18%17%18%2%12%18%18%18%8%17%4%...,28648%52263%18492%55248%14186%48608%15120%1689...,319%247%322%319%\N%322%\N%205%\N%54%322%302%54...,"[0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ..."
4,48%63%41%84%48%84%15%58%49%69%84%62%44%59%61%6...,1962706%2741116%574787%2965543%2264105%3321332...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%5%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,1698206%2357172%511235%2549734%1953681%2857491...,41265%1261%2625%\N%37758%43761%\N%2065%\N%1261...,17%2%2%7%4%17%18%2%18%2%17%2%17%2%2%2%18%2%17%...,23664%6783%13084%21701%811%55259%7976%32762%14...,\N%6%248%\N%\N%\N%25%238%88%6%\N%6%\N%319%238%...,"[0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
5,56%53%27%79%56%15%30%24%87%48%63%56%79%3%76%75...,2386115%2326983%75011%3804062%1384893%43235%14...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%4%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,2057065%2006837%69138%3269815%1209022%41148%12...,\N%136%\N%\N%\N%136%2620%\N%\N%2510%136%\N%103...,5%2%18%18%18%2%2%5%18%2%2%18%2%5%18%18%8%18%18...,19658%10315%22918%13558%15900%9706%46940%17745...,109%6%319%6%28%6%322%288%319%242%6%296%319%297...,"[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...,...
899996,11%69%21%70%30%8%63%53%64%75%31%31%70%40,654526%2611415%939409%2611415%1477926%92193%30...,1%1%1%1%1%1%1%1%1%1%1%1%1%1,5%5%5%5%5%5%5%5%5%5%5%5%5%5,1%1%1%1%1%1%1%1%1%1%1%1%1%1,581202%2247799%827341%2247799%1286930%84196%26...,\N%2625%\N%2625%\N%\N%\N%129%1567%\N%\N%\N%179...,18%2%18%2%18%18%5%2%2%18%18%18%2%18,13019%6433%9934%6433%9934%18103%20817%35127%16...,40%248%54%248%54%54%202%6%6%54%54%40%248%40,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
899997,16%66%22%77%68%69%77%87%75%65%67%4%2%87%87%67%...,7400%3011222%60330%1143180%177415%127573%33570...,2%2%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3,2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2%2,8817%2589756%55948%1001997%159111%114832%28886...,1400%\N%26858%87%1250%91%95%95%70%\N%87%1377%2...,2%5%3%2%2%2%2%2%2%18%2%2%3%2%2%18%2%2,768%21185%28874%22885%24274%13295%43954%15685%...,317%289%60%318%321%161%6%6%319%6%318%5%60%317%...,"[0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
899998,25%72%75%78%40%78%40%91%73%63%62%50%78%73,648402%71752%3537052%3527177%1251649%3750929%1...,2%1%1%1%1%1%1%1%1%1%1%1%1%1,4%4%4%4%4%4%4%4%4%4%4%4%4%4,2%2%2%2%2%2%2%2%2%2%2%2%2%2,575608%66267%3046316%3037926%1094938%3226089%1...,\N%\N%\N%\N%35420%\N%39519%643%\N%\N%\N%43559%...,12%12%18%18%17%18%17%3%18%18%18%17%18%18,18103%10989%9058%14681%43805%14681%32974%10988...,54%333%6%6%\N%6%\N%6%293%6%6%\N%6%6,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
899999,31%28%29%53%54%9%58%32%83%83%75%58%21%29%31%60...,456738%1287932%1513243%2479870%2288411%122834%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3%3,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,406152%1126353%1315691%2136034%1974163%110687%...,\N%\N%\N%101%\N%35593%\N%\N%\N%\N%\N%140%\N%14...,18%5%5%2%5%17%8%18%5%16%18%2%18%2%18%2%5%2%18%...,17627%15855%14930%894%53037%8126%631%14681%101...,54%232%108%183%291%\N%292%6%329%\N%54%317%6%31...,"[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, ..."
900000,71%72%91%74%42%52%26%57%2%34%10%7,3391205%3471208%4387250%3527098%1807163%229018...,1%1%1%1%1%1%1%1%1%1%1%1,3%3%3%3%3%3%3%3%3%3%3%3,2%2%2%2%2%2%2%2%2%2%2%2,2918341%2989104%3761723%3037879%1564764%197570...,\N%31999%\N%\N%\N%\N%\N%\N%\N%\N%\N%\N,5%5%18%18%18%5%5%5%5%18%18%5,22137%7283%60572%14681%14681%53037%15855%14372...,73%289%25%203%289%291%232%148%147%88%183%147,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [30]:
train_data = group_user_click_ad[['low_ids']]
train_data

                                                   low_ids
user_id
1        [0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2        [0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
3        [0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...
4        [0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...
5        [0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
...                                                    ...
899996   [0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
899997   [0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
899998   [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...
899999   [0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, ...
900000   [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[900000 rows x 1 columns]

In [31]:
train_data_sample = train_data.join(user.set_index('user_id'), on='user_id')

In [32]:
train_data_sample

                                                   low_ids  age  gender
user_id
1        [0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...    4       1
2        [0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...   10       1
3        [0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...    7       2
4        [0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...    5       1
5        [0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...    4       1
...                                                    ...  ...     ...
899996   [0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...    5       1
899997   [0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...    3       2
899998   [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...    4       2
899999   [0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, ...    3       1
900000   [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...    3       2

[900000 rows x 3 columns]

In [33]:
train_data_sample.to_csv('train_data_sample.csv')

In [1]:
train_data_sample

NameError: name 'train_data_sample' is not defined