In [ ]:
# gen fastText sample
import pandas as pd
group_user_click_ad = pd.read_csv('/home/tione/notebook/group_user_click_ad.csv')

In [ ]:
group_user_click_ad

In [7]:
# only use creative_id
user = pd.read_csv('/home/tione/notebook/data/train_preliminary/user.csv')
traing_data = group_user_click_ad[['user_id','creative_id']].join(user.set_index('user_id'), on='user_id')

In [8]:
traing_data

,user_id,creative_id,age,gender
0,1,71691%821396%209778%877468%3068256%1683713%194...,4,1
1,2,4194247%3765766%22013%155822%63441%1657530%625...,10,1
2,3,2556703%3255755%710859%3386299%825434%2198902%...,7,2
3,4,1962706%2741116%574787%2965543%2264105%3321332...,5,1
4,5,2386115%2326983%75011%3804062%1384893%43235%14...,4,1
...,...,...,...,...
899995,899996,654526%2611415%939409%2611415%1477926%92193%30...,5,1
899996,899997,7400%3011222%60330%1143180%177415%127573%33570...,3,2
899997,899998,648402%71752%3537052%3527177%1251649%3750929%1...,4,2
899998,899999,456738%1287932%1513243%2479870%2288411%122834%...,3,1
899999,900000,3391205%3471208%4387250%3527098%1807163%229018...,3,2

In [24]:
traing_data['fast_text_valuse'] = traing_data['creative_id'].apply(lambda x: x.replace('%',' '))

In [25]:
traing_data['fast_text_valuse']

0         71691 821396 209778 877468 3068256 1683713 194...
1         4194247 3765766 22013 155822 63441 1657530 625...
2         2556703 3255755 710859 3386299 825434 2198902 ...
3         1962706 2741116 574787 2965543 2264105 3321332...
4         2386115 2326983 75011 3804062 1384893 43235 14...
                                ...
899995    654526 2611415 939409 2611415 1477926 92193 30...
899996    7400 3011222 60330 1143180 177415 127573 33570...
899997    648402 71752 3537052 3527177 1251649 3750929 1...
899998    456738 1287932 1513243 2479870 2288411 122834 ...
899999    3391205 3471208 4387250 3527098 1807163 229018...
Name: fast_text_valuse, Length: 900000, dtype: object

In [26]:
traing_data['age_training'] = '__label__' + traing_data['age'].astype(str) + ' '+ traing_data['fast_text_valuse']

In [28]:
traing_data['gender_training'] = '__label__' + traing_data['gender'].astype(str) + ' '+ traing_data['fast_text_valuse']

In [32]:
traing_data['age_training'].to_csv('/home/tione/notebook/fastText-0.9.2/data/age_training.cvs',index=False,header=False)

In [33]:
traing_data['gender_training'].to_csv('/home/tione/notebook/fastText-0.9.2/data/gender_training.cvs',index=False,header=False)