In [2]:
import pickle
from sklearn.externals import joblib

/opt/conda/envs/tensorflow_py3/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [3]:
# laod model
ageModel = joblib.load('angModel.pkl')

In [4]:
# laod model
gendorModel = joblib.load('genderModel.pkl')

In [5]:
#load test data
import pandas as pd
click = pd.read_csv('/home/tione/notebook/data/test/click_log.csv')

In [6]:
click

          time  user_id  creative_id  click_times
0           20  3131989       645764            1
1           20  3131989      1027422            1
2           20  3131989      1106443            1
3           20  3131989       629802            1
4           59  3131989      2839769            1
...        ...      ...          ...          ...
33585507    16  3131989       585914            1
33585508    13  3131989       749134            1
33585509    12  3131989       589027            1
33585510    61  3131989      2404831            1
33585511    14  3131989       665822            1

[33585512 rows x 4 columns]

In [7]:
ad = pd.read_csv('/home/tione/notebook/data/test/ad.csv')

In [8]:
ad

,creative_id,ad_id,product_id,product_category,advertiser_id,industry
0,1,1,\N,5,381,78
1,3,3,\N,5,598,165
2,4,4,\N,5,108,202
3,5,5,\N,5,109,6
4,6,6,\N,5,400,6
...,...,...,...,...,...,...
2618154,4445713,3812195,39063,17,427,\N
2618155,4445715,3812197,39063,17,427,\N
2618156,4445718,3812200,39287,17,427,\N
2618157,4445719,3812201,39287,17,427,\N
2618158,4445720,3812202,39287,17,427,\N

In [9]:
user_ad_click  = click.join(ad.set_index('creative_id'), on='creative_id')

In [10]:
user_ad_click

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,20,3131989,645764,1,573314,58,2,14689,6
1,20,3131989,1027422,1,902764,129,2,42272,6
2,20,3131989,1106443,1,970829,2171,2,37513,322
3,20,3131989,629802,1,559183,\N,18,14678,26
4,59,3131989,2839769,1,2441288,129,2,35328,6
...,...,...,...,...,...,...,...,...,...
33585507,16,3131989,585914,1,521003,129,2,38382,6
33585508,13,3131989,749134,1,662371,2171,2,37513,322
33585509,12,3131989,589027,1,523554,\N,18,29595,26
33585510,61,3131989,2404831,1,2072705,111,2,17284,242
33585511,14,3131989,665822,1,590527,\N,18,18890,24

In [11]:
group_user_click_ad = user_ad_click.groupby('user_id').agg(lambda x: '%'.join(x.values.astype(str)))

In [12]:
group_user_click_ad

,time,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
user_id,,,,,,,,
3000001,3%29%49%49%49%23%82%11%11%54%54,351878%1508864%1711578%2259756%1797787%593698%...,1%1%1%1%1%1%1%1%1%1%1,315858%1312021%1482336%1949993%1556702%527764%...,\N%\N%27031%8593%\N%8938%\N%1794%1701%32368%\N,18%18%3%3%18%3%18%2%2%5%18,7579%39179%32735%17963%39179%9950%54044%13084%...,322%322%317%322%322%247%322%248%247%288%322
3000002,89%71%12%43%30%79%79%33%86%75%32%35%10%46%74%5...,4131664%2222344%176984%1837242%1442051%47512%3...,1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%1%1%1%1%1%1%1%2%...,3544856%1918325%158762%1590810%1256930%44540%3...,129%1567%1687%\N%\N%1377%\N%1674%1810%\N%35%17...,2%2%2%16%5%2%18%2%2%18%2%2%18%18%18%2%2%18%8%1...,22126%24523%24661%471%36185%10334%14681%12993%...,6%215%5%\N%296%5%215%322%319%6%26%\N%24%297%6%...
3000003,77%85%63%70%85%74%11%3%63%55%38%64%66%58%79%73...,1681016%3161357%2035400%3161357%4065209%360791...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,1456627%2719823%1759408%2719823%3489224%310618...,63%1849%154%1849%\N%34650%1447%34504%\N%\N%\N%...,2%2%2%2%18%5%2%5%18%18%18%18%2%2%2%2%2%2%5%2%2...,8380%52036%14002%52036%14681%56151%24691%40491...,317%317%319%317%6%230%238%202%6%6%54%6%238%317...
3000004,18%15%40%13%62%40%63%40%18%66%32%16%40%23%69%6...,9870%849706%1145367%108656%2944102%1328401%302...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,11324%748945%1003786%98506%2531386%1161398%260...,1323%\N%\N%1036%\N%\N%\N%1810%1268%\N%1268%\N%...,2%18%18%2%5%18%18%2%2%18%2%18%2%2%18%2%2%2%18%2,818%28323%27843%8520%2034%27843%28731%28002%23...,319%40%47%319%291%47%54%319%5%74%5%54%319%319%...
3000005,84%65%7%73%3%13%26%33%6%27%2%51%83%62%84%38%65...,3863936%3009874%71219%49682%183003%394403%1259...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,3320090%2588616%65782%46459%164114%352221%1101...,\N%\N%\N%\N%1987%1567%1567%1944%129%\N%1896%23...,18%18%18%18%2%2%2%2%2%18%2%2%2%18%2%2%2%2%2%18...,30243%48829%6763%8371%29243%16228%16320%7566%2...,237%26%28%54%26%6%6%247%6%74%238%319%6%54%6%31...
...,...,...,...,...,...,...,...,...
3999996,28%24%56%34%51%40%72%75%73%60%90%73%80%73%84%8...,962662%648402%1837000%1103677%2423490%1369223%...,1%1%1%1%1%1%1%2%1%1%1%4%1%2%1%1%1%1%1%2%1%1%1%...,847457%575608%1590599%968408%2088388%1196440%2...,2038%\N%\N%1567%1064%1862%1024%1305%35%1766%\N...,2%12%12%2%2%2%2%2%2%2%12%2%2%2%2%18%2%2%2%2%2%...,36714%18103%10989%16320%47148%21109%52449%9408...,322%54%6%6%242%238%319%319%26%319%207%6%322%6%...
3999997,89%47%18%10%2%57%20%67%48%59%30%17%18%82%65%83...,4249364%2227294%50445%390953%271727%882346%149...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3645458%1922481%47121%349164%244430%777689%164...,\N%1356%\N%1246%\N%\N%\N%2933%\N%\N%1334%\N%\N...,18%2%18%2%12%18%18%2%5%18%2%5%18%18%18%18%2%18...,12240%9761%29627%16639%10986%10989%1903%41688%...,173%261%25%81%6%6%1%248%289%27%317%222%25%6%88...
3999998,39%46%12%75%51%25%76%32%80%65%90%68%9%22%68%17...,24188%1080706%54150%3647980%2188843%771243%352...,1%1%1%1%1%2%1%1%1%1%1%1%1%1%1%1%1%1%1,24827%948569%50437%3140549%1889481%681329%3033...,164%\N%\N%23%\N%1261%1469%1452%\N%23%49%23%234...,2%18%12%2%18%2%2%2%18%2%2%2%2%18%5%18%3%2%18,2255%33237%10989%33280%33237%2623%28229%33459%...,320%248%202%319%253%6%21%322%251%319%6%319%167...
3999999,35%71%20%67%26%72%50%76%65%2%70%34%91%45%30%69...,545839%2560880%918536%3034248%1108217%3433843%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%...,485571%2205146%809167%2609435%972346%2956048%1...,2510%2400%\N%\N%\N%23%\N%\N%\N%1492%\N%\N%23%9...,2%2%18%5%18%2%12%12%5%2%18%12%2%2%2%2%12%2%12%...,39096%38474%37647%6974%24339%57169%8200%31326%...,242%246%319%293%73%319%54%157%288%322%6%27%319...
4000000,38%55%10%44%12%2%4%3%76%28%44%39%59%46%70%76%7...,99784%2064666%133681%2115458%196121%253460%231...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%2%1%...,90867%1784241%120110%1827272%176014%227912%207...,\N%1332%39519%\N%37353%\N%41655%27031%1036%\N%...,18%2%17%18%17%18%17%3%2%18%3%5%18%18%2%2%2%18%...,10955%44873%13446%49301%16680%30817%15975%1835...,251%6%\N%13%\N%322%\N%317%319%40%248%6%26%54%6...

In [13]:
def genOneHot(row,maxIndex):
    ins = row.strip().split('%')
    vectors =  [0]*maxIndex
    for i in ins:
        if  i == '\\N' :
                continue
        vectors[int(i)] = 1
    return vectors

In [14]:
group_user_click_ad['low_ids'] = group_user_click_ad['product_category']
group_user_click_ad['low_ids'] = group_user_click_ad['low_ids'].astype('object')
# 第一次先抽取部分特征来进行计算
for index, row in group_user_click_ad.iterrows():
    product_category_vector =  genOneHot(row['product_category'],100)
    industry_vector =  genOneHot(row['industry'],1000)
    time_vector =  genOneHot(row['time'],100)
    vectors = product_category_vector + industry_vector + time_vector
    #print (type(vectors),vectors)
    group_user_click_ad.at[index,'low_ids'] = vectors

In [21]:
group_user_click_ad

,time,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry,low_ids
user_id,,,,,,,,,
3000001,3%29%49%49%49%23%82%11%11%54%54,351878%1508864%1711578%2259756%1797787%593698%...,1%1%1%1%1%1%1%1%1%1%1,315858%1312021%1482336%1949993%1556702%527764%...,\N%\N%27031%8593%\N%8938%\N%1794%1701%32368%\N,18%18%3%3%18%3%18%2%2%5%18,7579%39179%32735%17963%39179%9950%54044%13084%...,322%322%317%322%322%247%322%248%247%288%322,"[0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3000002,89%71%12%43%30%79%79%33%86%75%32%35%10%46%74%5...,4131664%2222344%176984%1837242%1442051%47512%3...,1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%1%1%1%1%1%1%1%2%...,3544856%1918325%158762%1590810%1256930%44540%3...,129%1567%1687%\N%\N%1377%\N%1674%1810%\N%35%17...,2%2%2%16%5%2%18%2%2%18%2%2%18%18%18%2%2%18%8%1...,22126%24523%24661%471%36185%10334%14681%12993%...,6%215%5%\N%296%5%215%322%319%6%26%\N%24%297%6%...,"[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3000003,77%85%63%70%85%74%11%3%63%55%38%64%66%58%79%73...,1681016%3161357%2035400%3161357%4065209%360791...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,1456627%2719823%1759408%2719823%3489224%310618...,63%1849%154%1849%\N%34650%1447%34504%\N%\N%\N%...,2%2%2%2%18%5%2%5%18%18%18%18%2%2%2%2%2%2%5%2%2...,8380%52036%14002%52036%14681%56151%24691%40491...,317%317%319%317%6%230%238%202%6%6%54%6%238%317...,"[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3000004,18%15%40%13%62%40%63%40%18%66%32%16%40%23%69%6...,9870%849706%1145367%108656%2944102%1328401%302...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,11324%748945%1003786%98506%2531386%1161398%260...,1323%\N%\N%1036%\N%\N%\N%1810%1268%\N%1268%\N%...,2%18%18%2%5%18%18%2%2%18%2%18%2%2%18%2%2%2%18%2,818%28323%27843%8520%2034%27843%28731%28002%23...,319%40%47%319%291%47%54%319%5%74%5%54%319%319%...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3000005,84%65%7%73%3%13%26%33%6%27%2%51%83%62%84%38%65...,3863936%3009874%71219%49682%183003%394403%1259...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,3320090%2588616%65782%46459%164114%352221%1101...,\N%\N%\N%\N%1987%1567%1567%1944%129%\N%1896%23...,18%18%18%18%2%2%2%2%2%18%2%2%2%18%2%2%2%2%2%18...,30243%48829%6763%8371%29243%16228%16320%7566%2...,237%26%28%54%26%6%6%247%6%74%238%319%6%54%6%31...,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...
3999996,28%24%56%34%51%40%72%75%73%60%90%73%80%73%84%8...,962662%648402%1837000%1103677%2423490%1369223%...,1%1%1%1%1%1%1%2%1%1%1%4%1%2%1%1%1%1%1%2%1%1%1%...,847457%575608%1590599%968408%2088388%1196440%2...,2038%\N%\N%1567%1064%1862%1024%1305%35%1766%\N...,2%12%12%2%2%2%2%2%2%2%12%2%2%2%2%18%2%2%2%2%2%...,36714%18103%10989%16320%47148%21109%52449%9408...,322%54%6%6%242%238%319%319%26%319%207%6%322%6%...,"[0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, ..."
3999997,89%47%18%10%2%57%20%67%48%59%30%17%18%82%65%83...,4249364%2227294%50445%390953%271727%882346%149...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3645458%1922481%47121%349164%244430%777689%164...,\N%1356%\N%1246%\N%\N%\N%2933%\N%\N%1334%\N%\N...,18%2%18%2%12%18%18%2%5%18%2%5%18%18%18%18%2%18...,12240%9761%29627%16639%10986%10989%1903%41688%...,173%261%25%81%6%6%1%248%289%27%317%222%25%6%88...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3999998,39%46%12%75%51%25%76%32%80%65%90%68%9%22%68%17...,24188%1080706%54150%3647980%2188843%771243%352...,1%1%1%1%1%2%1%1%1%1%1%1%1%1%1%1%1%1%1,24827%948569%50437%3140549%1889481%681329%3033...,164%\N%\N%23%\N%1261%1469%1452%\N%23%49%23%234...,2%18%12%2%18%2%2%2%18%2%2%2%2%18%5%18%3%2%18,2255%33237%10989%33280%33237%2623%28229%33459%...,320%248%202%319%253%6%21%322%251%319%6%319%167...,"[0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3999999,35%71%20%67%26%72%50%76%65%2%70%34%91%45%30%69...,545839%2560880%918536%3034248%1108217%3433843%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%...,485571%2205146%809167%2609435%972346%2956048%1...,2510%2400%\N%\N%\N%23%\N%\N%\N%1492%\N%\N%23%9...,2%2%18%5%18%2%12%12%5%2%18%12%2%2%2%2%12%2%12%...,39096%38474%37647%6974%24339%57169%8200%31326%...,242%246%319%293%73%319%54%157%288%322%6%27%319...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4000000,38%55%10%44%12%2%4%3%76%28%44%39%59%46%70%76%7...,99784%2064666%133681%2115458%196121%253460%231...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%2%1%...,90867%1784241%120110%1827272%176014%227912%207...,\N%1332%39519%\N%37353%\N%41655%27031%1036%\N%...,18%2%17%18%17%18%17%3%2%18%3%5%18%18%2%2%2%18%...,10955%44873%13446%49301%16680%30817%15975%1835...,251%6%\N%13%\N%322%\N%317%319%40%248%6%26%54%6...,"[0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."

In [16]:
group_user_click_ad

,time,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry,low_ids
user_id,,,,,,,,,
3000001,3%29%49%49%49%23%82%11%11%54%54,351878%1508864%1711578%2259756%1797787%593698%...,1%1%1%1%1%1%1%1%1%1%1,315858%1312021%1482336%1949993%1556702%527764%...,\N%\N%27031%8593%\N%8938%\N%1794%1701%32368%\N,18%18%3%3%18%3%18%2%2%5%18,7579%39179%32735%17963%39179%9950%54044%13084%...,322%322%317%322%322%247%322%248%247%288%322,"[0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3000002,89%71%12%43%30%79%79%33%86%75%32%35%10%46%74%5...,4131664%2222344%176984%1837242%1442051%47512%3...,1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%1%1%1%1%1%1%1%2%...,3544856%1918325%158762%1590810%1256930%44540%3...,129%1567%1687%\N%\N%1377%\N%1674%1810%\N%35%17...,2%2%2%16%5%2%18%2%2%18%2%2%18%18%18%2%2%18%8%1...,22126%24523%24661%471%36185%10334%14681%12993%...,6%215%5%\N%296%5%215%322%319%6%26%\N%24%297%6%...,"[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3000003,77%85%63%70%85%74%11%3%63%55%38%64%66%58%79%73...,1681016%3161357%2035400%3161357%4065209%360791...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,1456627%2719823%1759408%2719823%3489224%310618...,63%1849%154%1849%\N%34650%1447%34504%\N%\N%\N%...,2%2%2%2%18%5%2%5%18%18%18%18%2%2%2%2%2%2%5%2%2...,8380%52036%14002%52036%14681%56151%24691%40491...,317%317%319%317%6%230%238%202%6%6%54%6%238%317...,"[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3000004,18%15%40%13%62%40%63%40%18%66%32%16%40%23%69%6...,9870%849706%1145367%108656%2944102%1328401%302...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,11324%748945%1003786%98506%2531386%1161398%260...,1323%\N%\N%1036%\N%\N%\N%1810%1268%\N%1268%\N%...,2%18%18%2%5%18%18%2%2%18%2%18%2%2%18%2%2%2%18%2,818%28323%27843%8520%2034%27843%28731%28002%23...,319%40%47%319%291%47%54%319%5%74%5%54%319%319%...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3000005,84%65%7%73%3%13%26%33%6%27%2%51%83%62%84%38%65...,3863936%3009874%71219%49682%183003%394403%1259...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,3320090%2588616%65782%46459%164114%352221%1101...,\N%\N%\N%\N%1987%1567%1567%1944%129%\N%1896%23...,18%18%18%18%2%2%2%2%2%18%2%2%2%18%2%2%2%2%2%18...,30243%48829%6763%8371%29243%16228%16320%7566%2...,237%26%28%54%26%6%6%247%6%74%238%319%6%54%6%31...,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...
3999996,28%24%56%34%51%40%72%75%73%60%90%73%80%73%84%8...,962662%648402%1837000%1103677%2423490%1369223%...,1%1%1%1%1%1%1%2%1%1%1%4%1%2%1%1%1%1%1%2%1%1%1%...,847457%575608%1590599%968408%2088388%1196440%2...,2038%\N%\N%1567%1064%1862%1024%1305%35%1766%\N...,2%12%12%2%2%2%2%2%2%2%12%2%2%2%2%18%2%2%2%2%2%...,36714%18103%10989%16320%47148%21109%52449%9408...,322%54%6%6%242%238%319%319%26%319%207%6%322%6%...,"[0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, ..."
3999997,89%47%18%10%2%57%20%67%48%59%30%17%18%82%65%83...,4249364%2227294%50445%390953%271727%882346%149...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3645458%1922481%47121%349164%244430%777689%164...,\N%1356%\N%1246%\N%\N%\N%2933%\N%\N%1334%\N%\N...,18%2%18%2%12%18%18%2%5%18%2%5%18%18%18%18%2%18...,12240%9761%29627%16639%10986%10989%1903%41688%...,173%261%25%81%6%6%1%248%289%27%317%222%25%6%88...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3999998,39%46%12%75%51%25%76%32%80%65%90%68%9%22%68%17...,24188%1080706%54150%3647980%2188843%771243%352...,1%1%1%1%1%2%1%1%1%1%1%1%1%1%1%1%1%1%1,24827%948569%50437%3140549%1889481%681329%3033...,164%\N%\N%23%\N%1261%1469%1452%\N%23%49%23%234...,2%18%12%2%18%2%2%2%18%2%2%2%2%18%5%18%3%2%18,2255%33237%10989%33280%33237%2623%28229%33459%...,320%248%202%319%253%6%21%322%251%319%6%319%167...,"[0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3999999,35%71%20%67%26%72%50%76%65%2%70%34%91%45%30%69...,545839%2560880%918536%3034248%1108217%3433843%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%...,485571%2205146%809167%2609435%972346%2956048%1...,2510%2400%\N%\N%\N%23%\N%\N%\N%1492%\N%\N%23%9...,2%2%18%5%18%2%12%12%5%2%18%12%2%2%2%2%12%2%12%...,39096%38474%37647%6974%24339%57169%8200%31326%...,242%246%319%293%73%319%54%157%288%322%6%27%319...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4000000,38%55%10%44%12%2%4%3%76%28%44%39%59%46%70%76%7...,99784%2064666%133681%2115458%196121%253460%231...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%2%1%...,90867%1784241%120110%1827272%176014%227912%207...,\N%1332%39519%\N%37353%\N%41655%27031%1036%\N%...,18%2%17%18%17%18%17%3%2%18%3%5%18%18%2%2%2%18%...,10955%44873%13446%49301%16680%30817%15975%1835...,251%6%\N%13%\N%322%\N%317%319%40%248%6%26%54%6...,"[0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."

In [17]:
feature_list = group_user_click_ad['low_ids'].tolist()

In [18]:
for f in feature_list:
    print (type(f),f)
    break

<class 'list'> [0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
gendors = gendorModel.predict(feature_list[:100])

In [20]:
ages = ageModel.predict(feature_list[:100])

In [22]:
gendors

array([1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1,
       1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1,
       1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1])

In [23]:
ages

array([ 4,  7,  6,  3,  2,  2,  3,  3,  9, 10,  5,  3,  3,  2,  7,  6,  8,
        1,  3, 10,  9,  7,  3,  5,  5,  2,  5,  5,  4,  1,  2,  3,  5,  6,
        5,  7,  7,  4,  4,  3,  3,  3,  2,  3,  4,  1,  3,  4,  2,  4,  1,
        4,  4,  7,  8,  7,  4,  6,  3,  7,  4,  3,  7,  5,  1,  3,  3,  4,
        1,  2,  6,  1,  5,  4,  4,  3,  2,  8,  3,  3,  3,  3,  7,  9,  3,
        2,  6,  5,  4,  2,  4,  4,  5,  7,  3,  6,  6,  4,  4,  6])

In [26]:
len(feature_list)

1000000

In [32]:
gendors = gendorModel.predict(feature_list[:100000])

In [33]:
len(gendors)

100000

In [46]:
aResults = []
gResults = []
for i in range(0,10):
    print (i*100000,(i+1)*100000)
    print (len(feature_list[i*100000:(i+1)*100000]))
    aResults.extend(ageModel.predict(feature_list[i*100000:(i+1)*100000]) )
    gResults.extend(gendorModel.predict(feature_list[i*100000:(i+1)*100000]) )

0 100000
100000
100000 200000
100000
200000 300000
100000
300000 400000
100000
400000 500000
100000
500000 600000
100000
600000 700000
100000
700000 800000
100000
800000 900000
100000
900000 1000000
100000

In [48]:
print(len(aResults))
print(len(gResults))

1000000
1000000

In [78]:
group_user_click_ad

,time,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry,low_ids
user_id,,,,,,,,,
3000001,3%29%49%49%49%23%82%11%11%54%54,351878%1508864%1711578%2259756%1797787%593698%...,1%1%1%1%1%1%1%1%1%1%1,315858%1312021%1482336%1949993%1556702%527764%...,\N%\N%27031%8593%\N%8938%\N%1794%1701%32368%\N,18%18%3%3%18%3%18%2%2%5%18,7579%39179%32735%17963%39179%9950%54044%13084%...,322%322%317%322%322%247%322%248%247%288%322,"[0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3000002,89%71%12%43%30%79%79%33%86%75%32%35%10%46%74%5...,4131664%2222344%176984%1837242%1442051%47512%3...,1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%1%1%1%1%1%1%1%2%...,3544856%1918325%158762%1590810%1256930%44540%3...,129%1567%1687%\N%\N%1377%\N%1674%1810%\N%35%17...,2%2%2%16%5%2%18%2%2%18%2%2%18%18%18%2%2%18%8%1...,22126%24523%24661%471%36185%10334%14681%12993%...,6%215%5%\N%296%5%215%322%319%6%26%\N%24%297%6%...,"[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3000003,77%85%63%70%85%74%11%3%63%55%38%64%66%58%79%73...,1681016%3161357%2035400%3161357%4065209%360791...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,1456627%2719823%1759408%2719823%3489224%310618...,63%1849%154%1849%\N%34650%1447%34504%\N%\N%\N%...,2%2%2%2%18%5%2%5%18%18%18%18%2%2%2%2%2%2%5%2%2...,8380%52036%14002%52036%14681%56151%24691%40491...,317%317%319%317%6%230%238%202%6%6%54%6%238%317...,"[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3000004,18%15%40%13%62%40%63%40%18%66%32%16%40%23%69%6...,9870%849706%1145367%108656%2944102%1328401%302...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,11324%748945%1003786%98506%2531386%1161398%260...,1323%\N%\N%1036%\N%\N%\N%1810%1268%\N%1268%\N%...,2%18%18%2%5%18%18%2%2%18%2%18%2%2%18%2%2%2%18%2,818%28323%27843%8520%2034%27843%28731%28002%23...,319%40%47%319%291%47%54%319%5%74%5%54%319%319%...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3000005,84%65%7%73%3%13%26%33%6%27%2%51%83%62%84%38%65...,3863936%3009874%71219%49682%183003%394403%1259...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%...,3320090%2588616%65782%46459%164114%352221%1101...,\N%\N%\N%\N%1987%1567%1567%1944%129%\N%1896%23...,18%18%18%18%2%2%2%2%2%18%2%2%2%18%2%2%2%2%2%18...,30243%48829%6763%8371%29243%16228%16320%7566%2...,237%26%28%54%26%6%6%247%6%74%238%319%6%54%6%31...,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...
3999996,28%24%56%34%51%40%72%75%73%60%90%73%80%73%84%8...,962662%648402%1837000%1103677%2423490%1369223%...,1%1%1%1%1%1%1%2%1%1%1%4%1%2%1%1%1%1%1%2%1%1%1%...,847457%575608%1590599%968408%2088388%1196440%2...,2038%\N%\N%1567%1064%1862%1024%1305%35%1766%\N...,2%12%12%2%2%2%2%2%2%2%12%2%2%2%2%18%2%2%2%2%2%...,36714%18103%10989%16320%47148%21109%52449%9408...,322%54%6%6%242%238%319%319%26%319%207%6%322%6%...,"[0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, ..."
3999997,89%47%18%10%2%57%20%67%48%59%30%17%18%82%65%83...,4249364%2227294%50445%390953%271727%882346%149...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1,3645458%1922481%47121%349164%244430%777689%164...,\N%1356%\N%1246%\N%\N%\N%2933%\N%\N%1334%\N%\N...,18%2%18%2%12%18%18%2%5%18%2%5%18%18%18%18%2%18...,12240%9761%29627%16639%10986%10989%1903%41688%...,173%261%25%81%6%6%1%248%289%27%317%222%25%6%88...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3999998,39%46%12%75%51%25%76%32%80%65%90%68%9%22%68%17...,24188%1080706%54150%3647980%2188843%771243%352...,1%1%1%1%1%2%1%1%1%1%1%1%1%1%1%1%1%1%1,24827%948569%50437%3140549%1889481%681329%3033...,164%\N%\N%23%\N%1261%1469%1452%\N%23%49%23%234...,2%18%12%2%18%2%2%2%18%2%2%2%2%18%5%18%3%2%18,2255%33237%10989%33280%33237%2623%28229%33459%...,320%248%202%319%253%6%21%322%251%319%6%319%167...,"[0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3999999,35%71%20%67%26%72%50%76%65%2%70%34%91%45%30%69...,545839%2560880%918536%3034248%1108217%3433843%...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%...,485571%2205146%809167%2609435%972346%2956048%1...,2510%2400%\N%\N%\N%23%\N%\N%\N%1492%\N%\N%23%9...,2%2%18%5%18%2%12%12%5%2%18%12%2%2%2%2%12%2%12%...,39096%38474%37647%6974%24339%57169%8200%31326%...,242%246%319%293%73%319%54%157%288%322%6%27%319...,"[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4000000,38%55%10%44%12%2%4%3%76%28%44%39%59%46%70%76%7...,99784%2064666%133681%2115458%196121%253460%231...,1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%1%2%1%1%2%1%...,90867%1784241%120110%1827272%176014%227912%207...,\N%1332%39519%\N%37353%\N%41655%27031%1036%\N%...,18%2%17%18%17%18%17%3%2%18%3%5%18%18%2%2%2%18%...,10955%44873%13446%49301%16680%30817%15975%1835...,251%6%\N%13%\N%322%\N%317%319%40%248%6%26%54%6...,"[0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."

In [54]:
for index, row in group_user_click_ad.iterrows():
    print( row[0],row['time'])
    break

3%29%49%49%49%23%82%11%11%54%54 3%29%49%49%49%23%82%11%11%54%54

In [84]:
print (len(userIds))

1000000

In [85]:
results = []
for i in range (3000000,4000000):
    #print (i)
    index = i - 3000000
    results.append([i,aResults[index],gResults[index]])

In [1]:
print(len(results))

NameError: name 'results' is not defined

In [88]:
for res in results:
    print (type(res),type(results),res)
    break

<class 'list'> <class 'list'> [3000000, 4, 1]

In [91]:
df = pd.DataFrame(results,columns =['user_id','predicted_age','predicted_gender'])

In [92]:
df

        user_id  predicted_age  predicted_gender
0       3000000              4                 1
1       3000001              7                 2
2       3000002              6                 1
3       3000003              3                 1
4       3000004              2                 1
...         ...            ...               ...
999995  3999995              4                 1
999996  3999996              1                 1
999997  3999997              4                 1
999998  3999998              5                 1
999999  3999999              2                 1

[1000000 rows x 3 columns]

In [93]:
df.to_csv("20200513.csv",index=False)

In [ ]:
data